@media screen and (min-width:1280px) {
    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

body {
    background: #F6F7F9;
}

.content {
    display: flex;
    justify-content: space-between;
}

/* HEADER */

.headerSection {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.headerSection > h1 {
    text-align: center;
    font-size: 3rem;
}

/* TODOAPP */

.toDoAppSection{
    border-radius: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

/* TODOLIST */

.toDoList {
    width: 90%;
    padding:20px 30px 10px;
}

.toDoList > :first-child {
    border: 0;
}


/* TODOFORM */

.toDoFrom {
    width: 100%;
    padding: 10px 34px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toDoFrom > form {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 90%;
}

.toDoFrom > form > input {
    width: 90%;
    max-width: 400px;
    height: 35px;
    padding: 5px 10px;
    outline: none;
    font-size: 2rem;
    border: 1px solid #7c3aed;
    border-radius: 7px;
}

.toDoFrom > form > input:focus {
    border: 1.5px solid #7c3aed;
}

.toDoFrom button {
    background: #7c3aed;
    color: white;
}

.button {
    width: 75px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.9rem;
    font-weight: 600;
}

/* TODO */

.todo {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid green;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 2rem;
}

.todo div {
    display: flex;
    align-items: center;
}

.todo__left {
    flex-grow: 1;
    gap: 5px;
}

.todo__left > input[type="checkbox"]:checked {
    accent-color: green;
    opacity: 0.3;
}

.todo__right {
    width: 175px;
    justify-content: space-between;
}

.todo__right :first-child {
    color: #7c3aed;
    background: #fff;
    border: 1.5px solid #7c3aed;
}

.todo__right :last-child {
    color: #dc2626;
    background: #fff;
    border: 1.5px solid #dc2626;
}

.todo__title {
    height: 30px;
    background: #fff;
    border: 0;
    font-size: 2rem;
    outline: none;
    color: #000;
    font-weight: 600;
}

.completed {
    color: green;
    text-decoration: line-through;
    opacity: 0.3;
}


/* Filter */

.filterSection {
    background: #fff;
    width: 27%;
    border-radius: 20px;
    padding: 20px;
}

.filter__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.filter__select > div {
    flex-grow: 1;
}